mixin details(indicator , info , $second)
    .columna__details__column
        p.columna__details__column__indicator(class=`columna__details__column__indicator--${$second}`) #{indicator}
        h4.columna__details__column__info(class=`columna__details__column__info--${$second}`) #{info}
mixin inputs(utilidad , typeinput) 
    label(for=`formulario de ${utilidad}`)
        input.formulario__inputs_text(type=`${typeinput}` , placeholder=`${utilidad}` , required) 
mixin pictures(rute , speach)
    div.contentAfter__final__SocialReds__images
        picture
            img(src=`${rute}`, alt=`${speach}`)
mixin CarouselItemBack( rute , title , price , alt , inactive)
    .carousel_back__items__item
            picture
                img.carousel_back__items__item--image(src=`../${rute}`, alt=`${alt}`)
            h2.carousel_back__items__item__title #{title}
            h3.carousel_back__items__item__price #{price}
            .carousel_back__items__item__galery
                .carousel_back__items__item__galery--active
                .carousel_back__items__item__galery--inactive
mixin CarouselItemUp(rute , alt)
    .carousel_up__items__item
        img(src=`../${rute}`, alt=`${alt}`)
-var navigation = ['> COMO' , 'VADO' , 'VADO SL']

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title COMO
        link(rel="shortcut icon", href="https://orientevota.com/wp-content/uploads/logo-pagina-web-300x288.png", type="image/x-icon")
    body
        header.header
            section.header__content
                div.header__grid--column
                    picture
                        img.headergrid__image(src="../src/Images/loges/loge.png", alt="specialized loge")
                    nav.header__nav
                        ul.header__nav__list
                            each item in navigation
                                li.header__nav__list__item #{item}
                div.header__grid--column 
                    h1.header__title TURBO COMO
                    h2.header__slogan ERES TÚ,SÓLO QUE MÁS RÁPIDO
                div.header__grid--column 
                    a.header__button CONTÁCTANOS
                div.none
        block contenidos

